body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.home-content{
background-color: azure;
height: 500px;
border-radius: 20px;
}

.About{
  background-color: azure;
  height: 200px;
  border-radius: 20px;
}

.Contact{
  background-color: azure;
  height: 500px;
  border-radius: 20px;
}

.Contact img {
  height: 180px;
}

.nav-bar{
  background-color: azure;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.nav-bar ul{

list-style-type: none;
}

.nav-link{
  text-decoration: none;
 
}

.home-content img{
  height: 180px;
}